In [1]:
#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:-*
List popular languages for Data Science.
Some of the commonly used libraries used by Data Scientists.
Data Science Tools.
simple arithmetic expression.

Some of the popular languages that Data Scientists use are:
Python, SQL, and R.

Some of the commonly used libraries used by Data Scientists include:numpy,seaborn,pandas

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio| 
|Visual Studio Code|

In [2]:
###Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [8]:
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes 200

Hours= 3
Minutes= 20

In [10]:
##Author-MUKUL